body {
  background-image: url(https://images.unsplash.com/photo-1631414517446-6d10a2e72a6e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.container {
  box-sizing: 58px;

  .card {
    background-color: rgb(46, 46, 46);
  }
}
