// Specific CSS for your home-page
.background {
  background-image: url(https://images.unsplash.com/photo-1631414517446-6d10a2e72a6e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-size: cover;
  padding: 150px;
  display: flex;
}

.main_banner {
  justify-content: center;
  border: 25px;
  margin: 20px;
  display: flex;
}

.secondary_text {
  justify-content: center;
  padding: 150px;
}

h1 {
  font: Arial;
  font-size: 400;
  font-weight: bolder;
  color: orange;
}

h2 {
  font-size: medium;
  color: whitesmoke;
}

a {
  color: orange;
}
