<div class="container card mx-auto 2">
  <div class="row">
    <% @drinks.each do |drink| %>
      <div class="container photo">
      <% if drink.photo.attached? %>
        <%= cl_image_tag drink.photo.key, height: 300, width: 400, crop: :fit %>
      <% end %>
      <div class="overlay">
        <%= link_to drink.name, drink_path(drink) %>
          <div class="card-footer text-muted">
            <p class="items price">Price: £<%= drink.price %></p>
          </div>
      </div>
      </div>
    <% end %>
  </div>
</div>
