<div class="row">
<% @drinks.each do |drink| %>
  <div class="col-12 col-lg-4">
      <div class="card text-center text-white" style="background-color:#d1d1d14d;">
        <div class="card photo" class="card-img-top">
          <%= cl_image_tag drink.photo.key, height: 350, width: 350, crop: :fit if drink.photo.attached? %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to drink.name, drink_path(drink) %></h5>
            <p class="card-text">Price: £<%= drink.price %></p>
            <button type="button" class="btn btn-danger"><%= link_to "Buy now", new_drink_order_path(drink) %></button>
          </div>
        </div>
      </div>
  </div>
<% end %>
</div>
