<div class="d-flex justify-content-center my-5">
  <div class="col-12 col-lg-3">
    <div class="card text-center align-self-center border-0" style="background-color:#ddcecde8">
      <div class="Upload Form">
        <div class="card-body">
          <h5 class="card-title">How many drinks do you want?</h5>
          <%= simple_form_for [@drink, @order] do |form| %>
          <%= form.input :quantity, label: "Quantity:" %>
          <button type="button" class="buttons"><%= form.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
