<div class="Upload Form">
  <h3>Submit your order:</h3>
  <%= simple_form_for [@order] do |form| %>
    <%= form.input :quantity, label: "Quantity" %>
    <%= form.button :submit %>
  <% end %>
</div>
