<div>
  <br>
  <h2><strong>Congratulations, your order has been confirmed!</strong></h2><br>
  <h3><strong>Your drink details</strong></h3><br>

  <h4><strong><%= @order.drink.name %></strong></h4>
  <p>Price: £ <%= @order.drink.price %></p>
  <p><%= @order.drink.description %></p>
  <%= link_to "Return to Drinks", drinks_path %>
</div>
