<div class="background">
  <div class="main_banner">
  <div><h1>DrinkHub</h1>
  </div>
 </div>
<div class ="secondary_text">
  <div>
    <h2>Find some craaaaaazy drinks from around the world!</h2>
  </div>
</div>
</div>




<p>Find me in app/views/pages/home.html.erb</p>
