<div class="background">
  <div class="main_banner">
  <div><h1>DrinkHub</h1>
  <h2>Order drinks from around the world!</h2>
    <%= link_to "See our selection of drinks", "/home" %>
  </div>
 </div>
</div>
</div>




<p>Made with love by Abs, Aziz, Gianluca and Koji</p>
