.btn-warning {
  background: #00b3d0;
  border-color: #00b3d0;
  border-radius: 10px;
}


.buttons {
	background-color: #00b3d0;
  border-radius: 17px;
  border: 1px solid #00b4d0df;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #00b4d0df;
  margin: 4px;
}
.buttons:hover {
	background-color:#00b4d0df;
  text-decoration:none;
  color:#ffffff;
}
.buttons:active {
	position:relative;
	top:1px;
}
